In [4]:
from scipy.io import arff
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings

from sklearn.preprocessing import StandardScaler, RobustScaler
from sklearn.model_selection import train_test_split
from sklearn.tree import DecisionTreeClassifier
from sklearn.metrics import classification_report, confusion_matrix
from sklearn.metrics import precision_recall_fscore_support as scores

import pomegranate

warnings.filterwarnings("ignore")
%matplotlib inline

In [2]:
filename="caesarian.csv"


# data = arff.loadarff(r"caesarian.csv.arff")
# df = pd.DataFrame(data[0])
data = pd.read_csv(filename)
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 80 entries, 0 to 79
Data columns (total 6 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Age                80 non-null     int64
 1   Delivey No         80 non-null     int64
 2   Delivery No        80 non-null     object
 3   Blood of Pressure  80 non-null     object
 4   Heart Problem      80 non-null     object
 5   Caesarian          80 non-null     object
dtypes: int64(2), object(4)
memory usage: 3.9+ KB

In [9]:
data.describe()

             Age  Delivey No
count  80.000000   80.000000
mean   27.687500    1.662500
std     5.017927    0.794662
min    17.000000    1.000000
25%    25.000000    1.000000
50%    27.000000    1.000000
75%    32.000000    2.000000
max    40.000000    4.000000

In [10]:
data

    Age  Delivey No Delivery No Blood of Pressure Heart Problem Caesarian
0    22           1      Timely              High           apt        No
1    26           2      Timely            Normal           apt       Yes
2    26           2   Premature            Normal           apt        No
3    28           1      Timely              High           apt        No
4    22           2      Timely            Normal           apt       Yes
..  ...         ...         ...               ...           ...       ...
75   27           2   Premature            Normal           apt        No
76   33           4      Timely            Normal           apt       Yes
77   29           2   Premature              High           apt       Yes
78   25           1   Latecomer               Low           apt       Yes
79   24           2   Latecomer            Normal           apt        No

[80 rows x 6 columns]

#### From .info() method and below code, we can see that there are no null or missing values in the data set and since the data set is small consisting of about 80 rows, we will not be checking duplicate values

In [11]:
round(100 * (data.isnull().sum()/len(data)),2).sort_values(ascending=False)

Age                  0.0
Delivey No           0.0
Delivery No          0.0
Blood of Pressure    0.0
Heart Problem        0.0
Caesarian            0.0
dtype: float64